.note-list {
  height: 100vh;
  background-color: var(--background_high);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.note-list {
  overflow: auto;
  height: 100%;
  overflow: -moz-scrollbars-none;
  border-left: 1px solid var(--border_low);
  border-right: 1px solid var(--border_low);
  -ms-overflow-style: none;
  &::-webkit-scrollbar { width: 0; }

  &:hover {
    padding-right: 0px;
  }

  &:hover::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: var(--border_low);
  }
}
