.hidden {
  display: none;
}

.previewContainer {
  padding: 10px;
  height: 100%;
}

#editor-content-wrap {
  height: 100%;
}

#editor-content {
  height: 100%;
}

#editor-content input {
  padding: 10px;
  font-size: 12px;
  font-family: var(--font-family);
  background-color: var(--b_dark);
  color: var(--f_medium);
  border: none;
  width: 100%;
  box-sizing: border-box;
}

#editor-content .input-container {
  overflow: hidden;
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  font-size: 12px;
  font-family: var(--font-family);
  background-color: var(--b_dark);
  color: var(--f_medium);
  border: none;
  height: 100%;
  line-height: var(--line-height);
}

::-webkit-scrollbar {
  cursor:pointer;
}

textarea::-webkit-scrollbar {
  width: 6px;
  background-color: var(--b_dark);
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--b_light);
}
