.hidden {
  display: none;
}

.editor-folder {
  height: 100%;
  padding: 0 10px;
}

.images-folder {
  height: 100%;
  padding: 0 10px;
}

.preview-container {
  height: 100%;
}

#note-content-wrap {
  height: 100%;
}

#note-content {
  height: 100%;
}

textarea {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  resize: none;
  font-size: 12px;
  font-family: var(--font-family);
  background-color: var(--b_dark);
  color: var(--f_medium);
  border: none;
  height: 100%;
  line-height: var(--line-height);
}

::-webkit-scrollbar {
  cursor:pointer;
}

textarea::-webkit-scrollbar {
  width: 6px;
  background-color: var(--b_dark);
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--b_light);
}
