.hidden {
  display: none !important;
}

.editor-folder {
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.images-folder {
  height: 100%;
  padding: 0 10px;
}

.preview-container {
  height: 100%;
}

#note-content-wrap {
  height: 100%;
}

#note-content {
  height: 100%;
  background-color: var(--p3_primary);
  color: var(--text_3);
}

textarea {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  resize: none;
  font-size: 14px;
  font-family: var(--font-family);
  background-color: var(--p3_primary);
  color: var(--text_3);
  border: none;
  height: 100%;
  line-height: var(--line-height);
}

textarea::-webkit-scrollbar {
  width: 6px;
  background-color: var(--p3_primary);
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--p3_borders);
}
