#root {
  display: flex;
  flex: 1 1;
}

:root {
  --font-size: 12px;
  --line-height: 20px;
  --font-family: monospace;
}

:focus {
  outline: none;
}

::selection {
  background-color: var(--f_light);
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--b_dark);
  color: var(--f_medium);
}

button, span {
  font-family: var(--font-family);
  color: var(--f_dark);
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
