#root {
  display: flex;
  flex: 1 1;
}

:root {
  --font-size: 12px;
  --line-height: 20px;
  --font-family: monospace;
}

:focus {
  outline: none;
}

::selection {
  background-color: var(--text_4);
}

::-webkit-scrollbar {
  cursor:pointer;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text_2);
}

button, span {
  font-family: var(--font-family);
  color: var(--text_1);
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  padding: 5px;
  font-size: 12px;
  font-family: var(--font-family);
  color: var(--text_2);
  width: 100%;
  box-sizing: border-box;
}
