#root {
  display: flex;
  flex: 1 1;
}

@font-face {
  font-family: 'mono';
  src: url('./assets/mono.ttf');
 }

:root {
  --font-size: 12px;
  --line-height: 20px;
  --font-family: mono;
}

.hidden {
  display: none;
}

:focus {
  outline: none;
}

::selection {
  background-color: var(--foreground_high);
}

::-webkit-scrollbar {
  cursor: pointer;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--foreground_low);
}

button, span {
  font-family: var(--font-family);
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  padding: 5px;
  font-size: 12px;
  font-family: var(--font-family);
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background_high);
  color: var(--foreground_med);
}

code {
  background-color: var(--background_med);
  padding: 2px;
  border-radius: 4px;
  color: var(--foreground_low);

  &:hover {
    background-color: var(--accent);
    cursor: pointer;
  }
}
