.control-bar {
  display: flex;
  padding: 10px;
  width: 100%;
}

.control-bar .input-container {
  flex: 1;
  height: 50px;
}

.control-bar input {
  height: 100%;
  font-size: 24px;
}

.control-bar button {
  padding: 10px;
  background-color: var(--b_medium);
  border: none;
  outline: none;
  color: var(--f_dark);
  float: left;
  height: 50px;
  width: 50px;
  text-align: center;
  margin-right: 10px;
}

.control-bar button svg {
  font-size: 24px;
}

.control-bar button:hover {
  background-color: var(--b_light);
  color: var(--f_medium);
  cursor: pointer;
}

.control-bar button:active {
  background-color: var(--b_medium);
}
