.control-bar {
  display: flex;
  padding: 10px 20px;
  width: 100%;
}

.control-bar .input-container {
  flex: 1;
  height: 50px;
}

.control-bar input {
  height: 100%;
  font-size: 24px;
  border: 1px solid var(--border_low);
}

.control-bar button {
  padding: 10px;
  background-color: var(--background_med);
  border: none;
  outline: none;
  color: var(--foreground_med);
  float: left;
  height: 50px;
  width: 50px;
  text-align: center;
  margin-right: 10px;
}

.control-bar button svg {
  font-size: 24px;
}

.control-bar button:hover {
  background-color: var(--background_low);
  cursor: pointer;
}

.control-bar button:active {
  background-color: var(--border_low);
}
