.item-container {
  min-height: 120px;
  display: flex;
  border-bottom: 1px solid var(--p2_borders);
  padding: 5px 0px 5px 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover, &.selected {
    cursor: pointer;
    background-color: var(--p2_secondary);
    -webkit-box-shadow: inset -9px 0px 10px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -9px 0px 10px -9px rgba(0,0,0,0.75);
    box-shadow: inset -5px 0px 10px -9px rgba(0,0,0,0.75);
  }

  &:hover .item-right-col {
    visibility: visible;
  }
}

.item-left-col {
  flex: 1;
}

.item-right-col {
  width: 26px;
  font-size: 20px;
  color: var(--text_2);
  padding-right: 2px;
  visibility: hidden;

  svg {
    float: right;
  }

  svg:hover {
    color: var(--p2_accent);
  }
}

.item-text {
  height: 80px;
  color: var(--text_2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.item-update-date {
  color: var(--text_2);
}

.item-tag-list {
  font-weight: bold;
  word-break: break-all;
  min-height: 20px;
}

.item-tag {
  padding-right: 5px;

  &:hover {
    color: var(--p2_accent);
  }
}
