.item-container {
  min-height: 110px;
  display: flex;
  border-bottom: 1px solid var(--border_low);
  padding: 5px 0px 5px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover, &.selected {
    cursor: pointer;
    background-color: var(--background_low);
  }

  &:hover .item-right-col {
    visibility: visible;
  }
}

.item-left-col {
  flex: 1;
  max-width: 250px;
}

.item-right-col {
  width: 26px;
  font-size: 20px;
  padding-right: 2px;
  visibility: hidden;

  svg {
    float: right;
  }

  svg:hover {
    color: var(--accent);
  }
}

.item-text {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  font-size: 14px;
}

.item-text-marker {
  color: var(--accent);
  font-weight: bold;
}

.item-update-date {
  color: var(--foreground_med);
}

.item-tag-list {
  font-weight: bold;
  word-break: break-all;
  min-height: 20px;
  color: var(--foreground_med);
}

.item-tag {
  padding-right: 5px;

  &:hover {
    color: var(--accent);
  }
}
