.tag-list {
  width: 100%;
  height: 100%;
  background-color: var(--p1_primary);
}

.tag-list input {
  background-color: var(--p1_primary);
  border: 1px solid var(--p1_borders);
}

.tag-list ul {
  margin: 0;
  padding: 10px;;
}

.tag-list li {
  font-size: 14px;
  list-style-type: none;
  color: var(--text_1);
  padding: 4px;
  display: flex;
  cursor: pointer;
  margin-bottom: 2px;

  &:hover .fixed svg {
    color: var(--text_2);
  }

  &:hover, &.selected {
    color: var(--text_2);
    background-color: var(--p1_secondary);
  }
}

.tag-list li svg {
  font-size: 24px;
  vertical-align: middle;
}

.tag-list li span {
  vertical-align: middle;
  flex: 1;
  line-height: 24px;
  word-break: break-all;
  padding-left: 5px;
}

.tag-list .input-container {
  overflow: hidden;
  padding: 10px;
}

.tags-container {
  overflow: auto;
  height: 100%;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar { width: 0; }

  &:hover::-webkit-scrollbar {
    width: 6px;
    background-color: var(--p1_primary);
    cursor: pointer;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: var(--p1_secondary);
  }
}

.tags-container svg {
  visibility: hidden;
  font-size: 20px;
}

.tags-container li:hover svg {
  visibility: visible;
}

.tag-del {
  &:hover svg {
    color: var(--p2_accent);
    cursor: pointer;
  }
}

.search-tag-badge {
  background: var(--p1_secondary);
  border: 1px solid var(--p1_secondary);
  margin: 10px;
  padding: 5px 10px;
  color: var(--text_1);
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: var(--p1_primary);
    border: 1px solid var(--p1_accent);
  }
}

.search-tag-badge .label {
  flex: 1;
  color: var(--text_1);
}

.search-tag-badge svg {
  font-size: 15px;
}
